*{
    margin: 0;
    padding: 0;
	font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
	
.header{
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 240px;
}
.nav-links{
	padding: 28px 0;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 0;
	position: relative;
}	
.nav-links li a::after{
	content: '';
	background: #ff3d00;
	width: 0;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: width 0.5s;
}
.nav-links li a:hover::after{
	width: 100%;
}
.content{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 90%;
	max-width: 900px;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
	padding-top: 50px;
}
.content h1{
	font-size: 65px;
	font-weight: 600;
	margin-bottom: 40px;
}	
.content form{
    background: #fff;
	padding: 10px;
	border-radius: 8px;
	display: flex;
}
.content form input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
}	
.content form button{
	background: #ff3d00;
    color: #fff;
	padding: 15px 40px;
	border: none;
	border-radius:6px;
	cursor: pointer;
}	

.category-list{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}
.category{
	width: 80px;
	height: 80px;
	background: rgba(255,61,0,0.15);
	margin: 0 10px;
}	

.back-video{
    position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}
@media(min-aspect-ratio:16/9){
	.back-video{
		width:100%;
		height: auto;
	}
}	
	
@media(max-aspect-ratio:16/9){
	.back-video{
		width:auto;
		height: 100%;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*,
*::after{
margin:0;
padding:0;
box-sizing: border-box;
}
:root{
    --after-content:'2';
}

body{
    width:100vw;
    font-family: 'Lato', sans-serif;
}
header1{
    position: fixed;
    left:0;
    right:0;
    top:0;
    height:12vh;
    background-color: ff523b;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{
    color: #ff523b;
}
.cart-box{
    width:26% !important;
    position: absolute;
    left:72%;
    top:25%;
    /* border:solid 1px blue; */
    padding:10px 20px;
}
h2{
    font-size: x-large;
    padding:15px 10px;
}

.cart-wrapper{
    overflow-y: auto;
    max-height: 350px;
    width:24vw;
}
.subtotal{
    text-align: right;
    padding:5%;
}
.checkout, .view-cart{
    width:95%;
    text-align: center;
    cursor: pointer;
    background-color: brown;
    font-size: large;
    color: #fff;
    margin:10px auto;
    padding:10px 15px;
}
.view-cart{
    background-color: #fff;
    border: 2px solid brown;
    color: brown;
}
.cart-icon{
    text-align: right;
}

.cart-item{
  display:grid;
  grid-template-columns: 3fr 6fr 1fr;
  padding:5% 2%;
  border-bottom:solid 1px lightgray;  
}

.cart-item img{
    width:100%;
}
.cart-item .details{
    padding-left:10%;
}

.cart-item h3{
  text-align: left; 
  margin-bottom:5%; 
  color:ff523b;
}

.cart-item .price{
display: block;
text-align: right;
margin-top: 35%; 
  }
  
 .quantity{
     display: block;
     margin-top:5%;
 } 

 .fa-window-close{
     color: brown;
 }
 .cancel{
     text-align: right;
 }
 .whole-cart-window{
     border: solid lightgray 1px;
     border-top:none;
     position: fixed;
     top:12vh;
     background-color: #fff;
     margin-right:2%;
 }

 .hide{
     display: none;
 }
.non-empty::after{
  content: var(--after-content);
  font-size: 25px;
  width:25px;
  display: inline-block;
  text-align: center;
  position: relative;
  top:-20px;
  right:20%;
  background-color: red;
  border-radius: 50%;
}

.card-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.card-item{
    display: flex;
    flex-direction: column;
    min-width: 500px;
    height:600px;
    justify-content: center;
    align-items: center;
}
.card-item img{
    width:45%;
	padding:50px 0;
}
.card-item .details{
    text-align: center;    
}
.card-item p,.card-item h3 {
    margin-top:10px;   
}
.card-item span{
    display: block;
    margin-top:10px;
}
.add-to-cart-btn{
    width: fit-content;
    margin:auto;
    /* margin-top:10px; */
    padding: 10px 15px;
    cursor: pointer;
    background-color: brown;
    border-radius: 3px;
    font-size: large;
    color:#fff
}
.details{
	color:ff523b;
}

h3{
	color:ff523b;
}	


body{
	background-color:black;
}

main{
	margin-top: 50px;
	margin-bottom: 50px;
}

.detail-container{
	width: 80%;
    height: 400px;
    background-color: #964B00;
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
    box-shadow: 0 0 80px #964B00;
	border-radius: 15px;
	transform: translate(0%, -10%)
}

#name1{
	font-size: 40px;
	margin-bottom: 50px;
}

.description{
	font-size: 15px;
	position: relative;
	left: 50%;
	top: 50%;
	width: 90%;
	max-width: 900px;
	transform: translate(-50%, -170%);
	text-align: center;
	color: #fff;
	padding-top: 50px
}

.image{
	border-radius: 360px;
	margin-top: 30px;
	margin-right: 60px;
}

.right{
	float: right;
}

.left{
	float: left;
	width: 60%;
	margin-left: 60px;
	margin-top: 120px;
}
.left h1{
	position: relative;
	left: 50%;
	top: 50%;
	width: 90%;
	max-width: 900px;
	transform: translate(-50%, -80%);
	text-align: center;
	color: #fff;
	padding-top: 50px
}
.footer-img{
	width: 130%;
	transform: translate(-17%, -35%);
}	
.one-line{
	position: relative;
	left: 20%;
	top: 50%;
	width: 100%;
    transform: translate(-18%,-300%);
	font-size: 24px;
}
.editor{
    position: relative;
	left: 20%;
	top: 50%;
	width: 100%;
    transform: translate(15%, -700%);
	color: #ffffff;
}
.copyright{
   	position: relative;
	left: 20%;
	top: 50%;
	width: 100%;
    transform: translate(20%,50%);
}
html,body{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}	
.footer{
	position: absolute;
	margin-top:100px;
	width: 110%;
	height: 80%;
	transform: translate(-8%,1%);
	padding: 100px 15%;
	background: #654321;
	color: #efefef;
	display: flex;
}
